<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>stadium</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
  	<servlet-name>login</servlet-name>
  	<servlet-class>web.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>login</servlet-name>
  	<url-pattern>*.do</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>re</servlet-name>
  	<servlet-class>web.RegistServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>re</servlet-name>
  	<url-pattern>*.re</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>info</servlet-name>
  	<servlet-class>web.UserInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>info</servlet-name>
  	<url-pattern>*.info</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>deal</servlet-name>
  	<servlet-class>web.DealInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>deal</servlet-name>
  	<url-pattern>*.deal</url-pattern>
  </servlet-mapping>
</web-app>